body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 40px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 230px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}


.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card-content {
  padding: 15px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.card-header h3 {
  font-size: 16px;
  font-weight: bold;
  color: #111;
  margin: 0;
}

.price {
  font-size: 15px;
  font-weight: bold;
  color: #111;
}

.card-content p {
  font-size: 14px;
  color: #777;
  margin: 0;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 50%;
    max-width: 5000px;
  }
}
