body {
    background-image: url(https://i.pinimg.com/1200x/18/4b/37/184b37e7215deef76828c116832bda0f.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
h1 {
    color: rgb(242, 242, 242);
    text-align: center;
}