h1 {
  font-family: system-ui;
  text-align: center; 
}
.ids {
  text-align: center;
}
img {
  border-radius: 10px;
}
p {
  font-family: Arial;
  line-height: 2em;
}
i {
  font-family: Arial;
  color: crimson;
}
